/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
pom.xml
*jar
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/.calva
/.clj-kondo
/.idea
/.lsp
/doc
/.cpcache
Exercism/clojure/*/.lsp/
Exercism/clojure/*/.exercism/
Exercism/clojure/*/.cpcache/
Exercism/clojure/*/.clj-kondo/